.git
.github
.DS_Store
**/.DS_Store
setup.md

.env
.env.*
client/.env
client/.env.*
server/.env
server/.env.*

.venv
**/node_modules
client/build
server/client-build
coverage
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
